$margin-default: 5px 30px;

input {
    all: unset;
}

.modal {
    z-index: 99;
    padding: 15px 0;
    height: auto;
    width: 300px;
    background-color:#fff;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-box-shadow: 0px 0px 35px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 35px -16px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 35px -16px rgba(66, 68, 90, 1);
}

.datepicker{
    position: absolute;
    top: +50px;
    background-color: white;
    border:1px solid rgba(66, 68, 90);
    -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.3s; /* Firefox < 16 */
     -ms-animation: fadein 0.3s; /* Internet Explorer */
      -o-animation: fadein 0.3s; /* Opera < 12.1 */
         animation: fadein 0.3s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

.datepicker__menu{
    display: flex;
    justify-content: space-between;
    margin: $margin-default;
}

p {
    text-decoration: none;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.datepicker__toggle{
  --border-color: rgb(56, 56, 56);
  --border-width: 5px;
  --bottom-distance: -4px;
  
  color: #272727;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  background-position: 50% calc(100% - var(--bottom-distance));
}

.datepicker__toggle:hover{
    cursor: pointer;
    background-size: 100% var(--border-width);
}

.description__input {
    width: 240px;

    --border-color: rgb(26, 115, 232);
    --border-width: 2px;
    --bottom-distance: 0px;
    
    color: #272727;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    background-position: 0 calc(100% - var(--bottom-distance));
}

.description__input:focus {
    background-size: 100% var(--border-width);
}

.input__container{
    display: flex;
    margin: $margin-default;
}

.button__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button__save {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border: none;
    font-size: medium;
    color: white;
    background-color: rgb(26,115,232);
}

.button__save:hover{
    cursor: pointer;
    background-color: rgb(26, 100, 197);
}

.input__error{
    height: 20px;
    margin: $margin-default;
    font-size: small;
    color: red;
}