@import "../../../variables";

.container {
    width: fit-content;
}

.timestamp{
    display: flex;
    align-items: center;
    border-top: 1px solid;
    border-image: linear-gradient(to left, rgba(128, 128, 128, 50%) 25%, transparent 25%) 100% 1;
    margin: 0;
    height: 48px;
    font-size: small;
}

.timestamp p {
    margin: 0;
    translate: -30% -175%;
}